body {
  background: #f0f0f0;
  /*  font-family: 'Roboto', sans-serif;*/
  color: #000;
}

.page-content {
  padding: 50px 15px 20px;
  max-width: 600px;
  margin: 0 auto;
}

.timing {
  padding: 0 10px;
}

.timing button {
  margin: 0;
}

.timing__title {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
}

.big-btn {
  flex: 1;
  margin: 0 10px;
  min-height: 50px;
  background: #;
}



.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.primary {
  background: green;
}

#color {
  height: 50px;
  width: 180px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#refresh {
  color: white !important;
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;

}

.color {
  padding-left: 25px;
  margin-top: -20px;
}

.mdl-layout__header-row {
  padding-left: 25px;
}

button {
  font-weight: 100;
}

.active {
  background: #3f51b5 !important;
  color: white !important;

}

.mdl-layout__header-row {
  justify-content: space-between;
}

.error-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: .8;
  z-index: 10;
}


body.error header {
  background: rgb(244, 67, 54) !important;
}

body.error .error-overlay {
  display: block;
}

.mdl-spinner--white .mdl-spinner__layer-1,
.mdl-spinner--white .mdl-spinner__layer-2,
.mdl-spinner--white .mdl-spinner__layer-3,
.mdl-spinner--white .mdl-spinner__layer-4 {
  border-color: white !important;
}

.mdl-spinner.mdl-spinner--white {
  width: 19px;
  height: 19px;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 10px);
}
#head-right {
  position: relative;
}
#head-right .mdl-spinner {
  visibility: hidden;
}
#head-right.load .mdl-spinner {
  visibility: visible;
}
#head-right.load #refresh {
  visibility: hidden;
}
